#page{
width:600px;
margin:0 auto;
}

td{
font-family:arial;
color:#333;
padding:10px;
width:100px;
height:100px;
text-align:center;
border:3px solid #ff0000;
background-color:#fff;
}

.bingohead{
border:10px solid #c2324c;
}

h1, h3, h3 a{
	font-family:arial;
	text-align:center;
	padding:3px;
}

td{
cursor:pointer;
}

#free{
	background-color:#fff;
	color:#eee;
	cursor:default;
    padding:0;
    border:0;
}
